<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" href="/img/جامعه المنوفيه.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="./admin_home.css">
    <title>Menofia University</title>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="logo-container ms-5">
            <img class="" src="/img/جامعه المنوفيه.png" alt="">
        </div>
        <span class="navbar-toggler-icon">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" style="margin-left: 33px;"></button>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 60px;">
                <li class="nav-item ">
                    <a class="nav-link p-2 p-lg-3" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link p-2 p-lg-3" href="/add_doctor">Add Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="/add_student">Add Student</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="/add_cource">Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="/add_department">Add Department</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link p-2 p-lg-3" href="#">Admin Information</a>
                </li>
            <li class="nav-item">
            <a class="nav-link p-2 p-lg-3" href="/absence">Generate The Absence</a>
            </li>
        </div>
    </nav> 

    <section >

        <div class="container">
            <h1>Admin Information</h1>
            <div class="table">     
            <table class="table">
<thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Id</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>from database</td>
                        <td>from database</td>
                        <td>from database</td>
                        <td>from database</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
</body>

</html>
