<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="icon" href="/img/جامعه المنوفيه.png">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="add_material.css">
        <title>Menofia University</title>
    </head>
<body>
<!-- navbar -->    
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="logo-container ms-5">
        <img class="" src="/img/جامعه المنوفيه.png" alt="">
    </div>
    <span class="navbar-toggler-icon">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" style="margin-left: 33px;"></button>
    </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 60px;">
            <li class="nav-item ">
                <a class="nav-link p-2 p-lg-3" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href="/add_doctor">Add Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href="/add_student">Add Student</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-2 p-lg-3" href="#">Add Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href="/add_department">Add Department</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href="/admin_home">Admin Information</a>
            </li>
                            <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href="/absence">Generate The Absence</a>
            </li>
    </div>
</nav> 
<div style="background: rgba(0,0,0,.4); "></div>
    <!-- section 1 -->
    <section >
        <form action="/login" method="post">
            <div class="form col">
                <div
                    style="border:1px solid  #c9e3da;border-radius: 20px;padding: 13px;   padding-left: 0px;  height: auto;">
                    <div class="cform">
                        <h1>Add Course </h1>
                        <label for="name" style="font-style: italic;"> Name</label> <br> <br>
                        <input style="font-style: italic;  " placeholder="Enter Cource Name"  type="text" id="name" />
                    </div>
                    <div class="cform">
                        <label for="code" style="font-style: italic;">Cource Code</label><br> <br>
                        <input placeholder="Enter Cource Code " style="font-style: italic;" type="text" id="code" />
                    <div style="display: flex;">

                        <label for="department" style="margin-top:20px;font-style: italic;">Department</label><br> <br>
                        <select id="department" style="    margin-left: 30px;color: #77686d; margin-top: 20px;">
                            <option value="CS">CS</option>
                            <option value="IT">IT</option>
                            <option value="IS">IS</option>
                            <option value="OR">OR</option>
                          </select></div>
                          <div style="display: flex;">

                            <label for="department" style="margin-top:20px;font-style: italic;">Required Course</label><br> <br>
                            <select id="department" style="    margin-left: 30px;color: #77686d; margin-top: 20px;">
                                <option value="CS">data from database</option>
                              </select></div>
                        <div class="buttom  ">
                            <input style="font-style: italic;" type="submit" value="Add" />
                        </div>
                
                    </div>
                </div>
            </form>
        
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
            </script>
                    </div>
    </section>
</body>
</html>
