<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" href="/img/جامعه المنوفيه.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="./Home.css">
    <title>Menofia University</title>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="logo-container ms-5">
            <img class="" src="/img/جامعه المنوفيه.png" alt="">
        </div>
        <span class="navbar-toggler-icon">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" style="margin-left: 33px;"></button>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 60px;">
                <li class="nav-item active">
                    <a class="nav-link p-2 p-lg-3" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="/login">Login</a>
                </li>
        </div>
    </nav>

    <!-- section 1 -->
    <section>
        <div class="sec1">
        </div>
    </section>

    <!-- section 2 -->
    <section id="About">
        <div class="container text-center" style="margin-top: 75px;">
            <div class="row py-5 ">
                <div class="d-none d-lg-block col-lg-3  ">
                    <img class=" w-100" src="/img/WhatsApp Image 2023-05-05 at 20.08.44.jpg">
                </div>
                <div class="col-12 col-lg-9 text-start sec_2 ">
                    <h1 style="text-transform: capitalize; padding-bottom: 40px; padding-top: 20px;">The Faculty of
                        Computers and
                        Information </h1>
                    <p>Menoufia University is heading to complete the infrastructure of the university and from this
                        point of view
                        the university tended to support the study of computers and information technology through the
                        establishment
                        of the Faculty of Computers and Information to meet an urgent need in the geographical scope
                        that extends to
                        the activity of the college and its services, and Republican Decree No. 292 of 2001 was issued,
                        which includes item
                        (18) the establishment of the Faculty of Computers and Information
                        - Menoufia University to be based in the city of Shebin al-Kom.</p>
                </div>


    </section>

    <!-- section 3 -->
    <div class="sec3_1">
        <h1> College Departments :</h1>
    </div>
    <section class="sec3">
        <div class="py-5 " style="background-color: #fff;">
            <div class=" text-center">
                <div class="row ">
                    <div class="col-10 col-lg-4 cards">
                        <h1 style=" color: white; padding-bottom: 30px;  padding-top: 30px;">COMPUTER SCIENCE MAJOR</h1>
                        <p>This department is concerned with teaching the basics of computer science and hardware,
                            <br>and what is required from the study of logic design and computer mathematics.<br> The
                            department is also concerned with teaching software of all kinds. Be it system software or
                            application software,<br> as well as computer networks and artificial intelligence. This is
                            in addition to selected topics intended to give the department faculty members a quick
                            opportunity to keep pace with modern scientific development by teaching what is new in
                            computer science without waiting for the regulation to be amended.<br> The department is
                            interested in conducting innovative research in the aforementioned fields, whether through
                            the research of faculty members or through postgraduate studies in the specialization of
                            computer science.
                        </p>
                    </div>
                    <div class="col-10 col-lg-4 cards ">
                        <h1 style="color: white;  padding-bottom: 30px;  padding-top: 30px;">INFORMATION SYSTEM MAJOR</h1>
                        <P>The Department of Information Systems is interested in teaching the fundamentals of
                            information systems, its analysis, design and applications, both current and advanced, and
                            the department is also interested in teaching office automation, database systems of all
                            kinds, data mining, knowledge discovery, and information center management. This is also in
                            addition to selected topics intended to give the department faculty members a quick
                            opportunity to keep pace with modern scientific development by teaching what is new in
                            information systems without waiting for the regulation to be amended. The department is
                            interested in conducting innovative research in the aforementioned fields, whether through
                            the research of faculty members or through postgraduate studies in the specialty of
                            information systems.</P>
                    </div>
                    <div class="col-10 col-lg-4 cards">
                        <h1 style="  color: white;padding-bottom: 30px;  padding-top: 30px;">Information Technology MAJOR</h1>
                        <p>The Department of Information Technology is interested in teaching fundamentals of
                            information technology, recognition of patterns, letters and software, digital signal
                            processing, computer vision, multimedia, information engineering and information networks.
                            This is also in addition to selected topics intended to give the department faculty members
                            a quick opportunity to keep pace with modern scientific development by teaching what is new
                            in information technology systems without waiting for the regulation to be amended.</p>
                    </div>
                    <div class="col-10 col-lg-4 cards">
                        <h1 style=" color: white; padding-bottom: 30px;  padding-top: 30px;">OPERATION RESEARCH MAJOR</h1>
                        <p>The Operations Research and Decision Support Department is concerned with teaching the basics
                            and concepts of systems science and operations research. It also teaches linear and
                            non-linear programming, project planning, queuing systems, inventory and production control.
                            The department is particularly interested in the sciences, tools and methods of decision
                            support and their various applications in politics, economics and sociology, in addition to
                            selected topics intended to give the department's faculty members a quick opportunity to
                            keep pace with modern scientific development by teaching what is new in the specialization
                            without waiting for the regulation amendment. The department is interested in conducting
                            innovative research in the aforementioned fields, whether through the research of faculty
                            members or through graduate studies in the field of operations research and
                            decision support.</p>
                    </div>
    </section>

    <!-- footer -->
    <div style=" background-color:  #c9e3da;">
        <div class="container ">

            <footer class="text-center text-lg-start" style=" background-color:  #c9e3da; padding-top: 39px;">
                <div class="container d-flex justify-content-center ">
                    <a style="color: #77686d;" class="mx-2 mx-lg-3" href="https://www.facebook.com/sonds.hammad"> <i
                            class="bi bi-facebook"></i></a>
                    <a style="color:#77686d;" class="mx-2 mx-lg-3" href="https://github.com/Sondos-Sabry"> <i
                            class="bi bi-github"></i></a>
                    <a style="color: #77686d;" class="mx-2 mx-lg-3" href="#"> <i class="bi bi-whatsapp"></i></a>
                </div>

                <!-- Copyright -->

                <div class="text-center text-white " style="padding-top: 40px; border-top: 1px solid #333; ">
                    <p style="color: #77686d; margin: 0px;"> © 2023 Copyright: Menofia university</p>
                </div>
                <!-- Copyright -->
            </footer>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
</body>

</html>