* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    /* background-image: url(/img/img_bg_1.jpg); */
    
    background-position: 50% 109.385px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200wh;
    height: 100vh;
    /* padding-top: 10px; */
}


nav {
    /* background-color: #e1a775; */
    background-color:  #c9e3da;
    display: inline-flex;
}

.logo-container {
    margin-left: 4rem !important;
}

nav img {
    width: 90px;
    height: 55px;
    padding-left: 20px;
}

@media (max-width : 923px) {
    .navbar-toggler-icon {
        background-image: url(/img/menu-bars-icon-10.jpg);
        width: 100px;
        height: 27px;
    }
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
    color: white;
}

.nav-item a {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    /* color: #876954; */
   color: #77686d;
}

.sec1 {
    background-image: url(/img/img_bg_1.jpg);
    background-position: 50% 109.385px;
width: 100%;
height: 1000px;
/* background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(./img/FCI-MU.jpg); */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.sec2{
    padding-top: 50px;
    margin: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.sec2 div#About div.row{
    justify-content: space-around;
}
.sec_2 p ,
 h1 ,
 h3{
    /* color: #555; */
    color: #77686d ;
    font-size: 21px;
}
.sec3 div.row{
    justify-content: space-around;
    margin-right: calc(var(--bs-gutter-x) * 0);
}
.sec3_1{
    height: 50px;
    background-color:  #c9e3da;
}
.sec3_1 h1{
    margin-left: 100px;
    padding-top: 10px;
    color: #77686d;
} 
.sec3 .img_g2{
width: 100%;
padding-bottom: 50px;

}
.cards{
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-left: 105px;
    box-shadow: 1px 1px 3px 3px #77686d;
    background-color:#77686d;
}
@media (max-width : 773px){
    .cards {
    margin-right:80px ;
    
}}
.cards .sec3 h1{
    padding-bottom: 20px;

}
.sec3 p{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    /* font-size: 20px; */
    /* color: #876954; */
    color: white;
    justify-content: left;
    
}